@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
   font-family: 'Montserrat', sans-serif;
}

#contacto, #inicio {
   background-image: url(../Images/fondo-contacto.png);
   background-size: cover;
}

#proyectos {
   background-image: url(../Images/fondo-proyectos.png );
   background-size: cover;
}

h1 {
   color: #e20000;
}

p {
   color: #6a6a6a;
}

.btn {
   color: #370a6d;
   background-color: white;
   border: 0px;
   border-radius: 15px;
}

.btn:hover {
   color: white;
   background-color: #370a6d;
}

.btn-rojo:hover {
   color: white;
   background-color: #370a6d;
}

.btn-rojo {
   background-color: #E20000;
   color: white;
   border-radius: 15px;
   text-decoration: none;
   padding: 10px;
}
.link-rojo{
   text-decoration: none;
   color: #E20000;
}

#proyectos footer {
   color: #e20000;
}

#proyectos footer a {
   color: #E20000;
}

#proyectos footer .fa-linkedin-in {
   color: #ffffff;
   font-size: 28px;
   background-color: #E20000;
   border-radius: 22px;
   padding: 8px 8px 4px 8px;
   margin-left: 10px;
}

#proyectos footer .fa-github {
   font-size: 38px;
   height: 40px;
}
#contacto footer, #inicio footer{
   color: white;
}

#contacto footer a, #inicio footer a {
   color: white;
}

#contacto footer .fa-linkedin-in, #inicio footer .fa-linkedin-in  {
   color: #ec2b2b;
   font-size: 28px;
   background-color: white;
   border-radius: 22px;
   padding: 8px 8px 4px 8px;
   margin-left: 10px;
}

#contacto footer .fa-github, #inicio footer .fa-github {
   font-size: 38px;
   height: 40px;
}

footer .fa-whatsapp {
   color: white;
   position: fixed;
   right: 70px;
   bottom: 0px;
   font-size: 31px;
   background-color: #370a6d;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}

.cv:hover {

   border-radius: 12px;
   border-color: #370a6d;
}

.barrainicio li:hover {
   border-radius: 12px;
   border-style: outset;
   border-color: #E20000;
   border-width: 1px;
}

form input {
   border-radius: 20px !important;
   resize: none;
}

nav {
   background-color: white !important;
}

.nav-link {
   color: black !important;
}

.proyecto h2 {
   font-size: 16px;
   text-transform: uppercase;
   color: white;
   background-color: red;
   font-weight: 400;
   background: rgb(125, 7, 7);
   background: linear-gradient(90deg, rgba(125, 7, 7, 1) 0%, rgba(215, 11, 11, 1) 100%);
   padding: 16px;
}
.proyecto img{
   height: 212px;
}
.proyecto p{
   font-size: 14px;
   background-color: white;
   height: 130px;
   font-weight: 600;
}
#inicio img{
   height: 400px;
}
#inicio img:hover{
   height: 410px;
}
.cohete{
   height: 410px;
}
#inicio span{
   color: white;
   font-size: 17px;
   border: 1px white solid;
   border-radius: 15px;
}  
.fotoPerfil{
   border-radius: 700px;
   height: 200px;
}




@media (max-width: 750px) {
   #contacto, #inicio{
      background-image: url("../Images/fondo-proyectos.png");
      background-size: contain;
      background-repeat: no-repeat;
   }
   #proyectos{
      background-size: contain;
      background-repeat: no-repeat;
   } 
   #inicio span{
      color: #e20000;
      font-size: 17px;
      border: 1px #E20000 solid;
      border-radius: 15px; 
   }    
}